html, body {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

/** NAVBAR STYLING **/

#navbar-container, #navbar {
    color: white;
    background-color: #1e87f0;
}

.uk-navbar-nav>li>a, .uk-navbar-nav>li>a:active, .uk-navbar-nav>li:hover>a, .uk-logo, .uk-logo:hover {
    color: #fff;
}

/** VIDEO SECTION STYLING **/

#webcam-stream {
    width: 100%;
    margin: auto;
}

.webcam-snapshot {
    padding-top: 40px;
    width: 100%;
}

/** START BUTTON STYLING **/

#button-container {
    display: grid;
    min-height: 80%;
}

#button-wrapper {
    margin: auto;
}

#uploads-container img {
    cursor: url('/static/assets/targeter.png'), auto;
}

/** PRELIMINARY UPLOAD STYLING **/

#image-upload-form {
    max-width: 1200px;
    margin: auto;
}

.image-container {
    width: 100%;
}

.uploaded-image {
    display: block;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.uploaded-image img {
    display: block;
    width: 100%;
}

/** ROI RENDER STYLING **/

.roi {
    position: absolute;
    display: block;
    background-color: rgba(0, 255, 0, 0.5);
}

.roi:active, .roi:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.roi-text {
    width: 80%;
    height: 1.5rem;
    display: block;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/** GENERAL STYLING **/

.hidden {
    display: none !important;
}

.js-upload {
    border-color: #8d8d8d;
    padding-top: 50px;
    padding-bottom: 50px
}

.container {
    max-width: 1200px;
    padding-top: 40px;
}
