<!DOCTYPE html>
<html>
    <head>
        <title>Whiteboard Vision</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body>
        <noscript>
            Sorry, but JavaScript is required to enable the functionality of this page.
            Please enable JavaScript to continue.
        </noscript>
        <form id="image-upload-form">
            <input id="image-upload" type="file" name="images" multiple/>
        </form>
        <script src="/static/main.js"></script>
        <div id="uploads-container"></div>
    </body>
</html>